# =====================================
# PYTHON
# =====================================

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd


# =====================================
# ENTORNOS VIRTUALES
# =====================================

.venv/
venv/
env/


# =====================================
# VARIABLES DE ENTORNO
# =====================================

.env


# =====================================
# EDITORES
# =====================================

.vscode/
.idea/


# =====================================
# SISTEMA OPERATIVO
# =====================================

.DS_Store
Thumbs.db


# =====================================
# ARCHIVOS GENERADOS
# =====================================

python/assets/output/
python/assets/images/
python/assets/music/


# =====================================
# ARCHIVOS TEMPORALES
# =====================================

*.log
*.tmp


# =====================================
# SQLITE
# =====================================

*.db-shm
*.db-wal